## Data Processsing

In [2]:
#importing Library
import pandas as pd
import numpy as np

In [10]:
#reading amazon daset
data1=pd.read_csv("Amazon_dataset.csv")
data1

,Unnamed: 0,Product_Name,Product_Rating,Product_Price
0,0,"OPPO A31 (Mystery Black, 6GB RAM, 128GB Storag...",4.2,"2,690.00"
1,1,"Redmi 9 Activ (Coral Green, 4GB RAM, 64GB Stor...",4.2,"6,999.00"
2,2,Redmi 9A (Midnight Black 2GB RAM 32GB Storage)...,4.2,"12,990"
3,3,"Redmi 9A (Nature Green, 3GB Ram, 32GB Storage)...",4.2,"9,499"
4,4,"OPPO A74 5G (Fluid Black,6GB RAM,128GB Storage...",4.2,"7,499"
...,...,...,...,...
809,809,Lava A1 (Blue Silver),4.0,"11,499"
810,810,"Tecno Pop 5 LTE(Deepsea Luster 2G+32G)| 6.52"" ...",4.2,979
811,811,"Samsung Galaxy M12 (Blue,4GB RAM, 64GB Storage...",4.1,"1,029"
812,812,"Jio Phone Next 32 GB ROM, 2 GB RAM, Blue, Smar...",4.1,"6,899"
813,813,Nokia 105 Single SIM (Blue),4.2,"11,499"

In [12]:
#reading Flipkarts data set
data2=pd.read_csv("Flipkart_dataset.csv")
data2

,Unnamed: 0,Product_Name,Product_Rating,Product_Price
0,0,"REDMI 9i Sport (Coral Green, 64 GB)",4.4,"8,799"
1,1,"REDMI 9i Sport (Metallic Blue, 64 GB)",4.4,"8,799"
2,2,"REDMI 9i Sport (Carbon Black, 64 GB)",4.4,"8,799"
3,3,"realme Narzo 50A (Oxygen Blue, 64 GB)",4.4,"11,499"
4,4,"realme Narzo 50A (Oxygen Green, 64 GB)",4.4,"11,499"
...,...,...,...,...
235,235,"MOTOROLA e40 (Carbon Gray, 64 GB)",4.2,"9,999"
236,236,"Redmi 9A Sport (Carbon Black, 32 GB)",4.1,"7,749"
237,237,Micromax X389,3.9,985
238,238,"REDMI Note 10 Lite (Interstellar Black, 128 GB)",4.3,"15,174"
239,239,"OPPO A31 (Mystery Black, 64 GB)",4.3,"12,988"

## concatenating two data set with the help of concat

In [16]:
data3=pd.concat([data1,data2],keys=['amazon','flipkart'])
data3

              Unnamed: 0                                       Product_Name  \
amazon   0             0  OPPO A31 (Mystery Black, 6GB RAM, 128GB Storag...
         1             1  Redmi 9 Activ (Coral Green, 4GB RAM, 64GB Stor...
         2             2  Redmi 9A (Midnight Black 2GB RAM 32GB Storage)...
         3             3  Redmi 9A (Nature Green, 3GB Ram, 32GB Storage)...
         4             4  OPPO A74 5G (Fluid Black,6GB RAM,128GB Storage...
...                  ...                                                ...
flipkart 235         235                  MOTOROLA e40 (Carbon Gray, 64 GB)
         236         236               Redmi 9A Sport (Carbon Black, 32 GB)
         237         237                                      Micromax X389
         238         238    REDMI Note 10 Lite (Interstellar Black, 128 GB)
         239         239                    OPPO A31 (Mystery Black, 64 GB)

              Product_Rating Product_Price
amazon   0               4.2      2,690.00
         1               4.2      6,999.00
         2               4.2        12,990
         3               4.2         9,499
         4               4.2         7,499
...                      ...           ...
flipkart 235             4.2         9,999
         236             4.1         7,749
         237             3.9           985
         238             4.3        15,174
         239             4.3        12,988

[1054 rows x 4 columns]

In [17]:
#storing these data set to new one

In [20]:
#reading this dataset
data4=pd.read_csv('Amazon_Flipkart_dataset.csv')
data4

,E-Company,No,Product_Name,Product_Rating,Product_Price
0,amazon,1,"OPPO A31 (Mystery Black, 6GB RAM, 128GB Storag...",4.2,"2,690.00"
1,amazon,2,"Redmi 9 Activ (Coral Green, 4GB RAM, 64GB Stor...",4.2,"6,999.00"
2,amazon,3,Redmi 9A (Midnight Black 2GB RAM 32GB Storage)...,4.2,"12,990"
3,amazon,4,"Redmi 9A (Nature Green, 3GB Ram, 32GB Storage)...",4.2,"9,499"
4,amazon,5,"OPPO A74 5G (Fluid Black,6GB RAM,128GB Storage...",4.2,"7,499"
...,...,...,...,...,...
1049,flipkart,1050,"MOTOROLA e40 (Carbon Gray, 64 GB)",4.2,"9,999"
1050,flipkart,1051,"Redmi 9A Sport (Carbon Black, 32 GB)",4.1,"7,749"
1051,flipkart,1052,Micromax X389,3.9,985
1052,flipkart,1053,"REDMI Note 10 Lite (Interstellar Black, 128 GB)",4.3,"15,174"
1053,flipkart,1054,"OPPO A31 (Mystery Black, 64 GB)",4.3,"12,988"

In [21]:
data4.head()

,E-Company,No,Product_Name,Product_Rating,Product_Price
0,amazon,1,"OPPO A31 (Mystery Black, 6GB RAM, 128GB Storag...",4.2,"2,690.00"
1,amazon,2,"Redmi 9 Activ (Coral Green, 4GB RAM, 64GB Stor...",4.2,"6,999.00"
2,amazon,3,Redmi 9A (Midnight Black 2GB RAM 32GB Storage)...,4.2,"12,990"
3,amazon,4,"Redmi 9A (Nature Green, 3GB Ram, 32GB Storage)...",4.2,"9,499"
4,amazon,5,"OPPO A74 5G (Fluid Black,6GB RAM,128GB Storage...",4.2,"7,499"

In [22]:
data4.tail()

,E-Company,No,Product_Name,Product_Rating,Product_Price
1049,flipkart,1050,"MOTOROLA e40 (Carbon Gray, 64 GB)",4.2,"9,999"
1050,flipkart,1051,"Redmi 9A Sport (Carbon Black, 32 GB)",4.1,"7,749"
1051,flipkart,1052,Micromax X389,3.9,985
1052,flipkart,1053,"REDMI Note 10 Lite (Interstellar Black, 128 GB)",4.3,"15,174"
1053,flipkart,1054,"OPPO A31 (Mystery Black, 64 GB)",4.3,"12,988"

## Data Cleaning

In [23]:
#finding null values
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1054 entries, 0 to 1053
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   E-Company       1054 non-null   object
 1   No              1054 non-null   int64
 2   Product_Name    1054 non-null   object
 3   Product_Rating  1054 non-null   float64
 4   Product_Price   1054 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 41.3+ KB

In [24]:
#second method-to find null value
data4.isnull().sum()

E-Company         0
No                0
Product_Name      0
Product_Rating    0
Product_Price     0
dtype: int64

In [26]:
#finding duplicated value
data4.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1049    False
1050    False
1051    False
1052    False
1053    False
Length: 1054, dtype: bool

In [27]:
#counting duplicate value
data4.duplicated().count()

1054

In [32]:
#duplication by using product name
data5=data4[data4.duplicated('Product_Name')]
data5

,E-Company,No,Product_Name,Product_Rating,Product_Price
23,amazon,24,"OPPO A31 (Mystery Black, 6GB RAM, 128GB Storag...",4.2,"2,690.00"
24,amazon,25,"Redmi 9 Activ (Coral Green, 4GB RAM, 64GB Stor...",4.2,"6,999.00"
25,amazon,26,Redmi 9A (Midnight Black 2GB RAM 32GB Storage)...,4.2,"12,990"
26,amazon,27,"Redmi 9A (Nature Green, 3GB Ram, 32GB Storage)...",4.2,"9,499"
27,amazon,28,"OPPO A74 5G (Fluid Black,6GB RAM,128GB Storage...",4.2,"7,499"
...,...,...,...,...,...
1034,flipkart,1035,Kechaoda K115,4.1,"1,089"
1035,flipkart,1036,Kechaoda K115,4.1,"1,075"
1038,flipkart,1039,Itel Ace,4.0,849
1042,flipkart,1043,Itel Ace Young Without Charger,3.9,799
1048,flipkart,1049,LAVA Hero 600+,4.0,979

In [31]:
dup.duplicated().count()

845

In [41]:
data6=data4.sort_values(ascending=False, by=['Product_Rating'])
data6

,E-Company,No,Product_Name,Product_Rating,Product_Price
900,flipkart,901,"APPLE iPhone 12 (Black, 64 GB)",4.7,"52,999"
833,flipkart,834,"realme C21Y (Cross Blue, 32 GB)",4.6,"9,499"
832,flipkart,833,"realme C21Y (Cross Black, 32 GB)",4.6,"9,499"
874,flipkart,875,"realme C25_Y (Glacier Blue, 128 GB)",4.5,"11,999"
843,flipkart,844,"OPPO A12 (Blue, 64 GB)",4.5,"9,240"
...,...,...,...,...,...
957,flipkart,958,IAIR Basic Feature Dual Sim Mobile Phone with ...,2.8,"1,219"
1005,flipkart,1006,IAIR Basic Feature Dual Sim Mobile Phone with ...,2.8,"1,219"
893,flipkart,894,IAIR Basic Feature Dual Sim Mobile Phone with ...,2.8,"1,219"
917,flipkart,918,IAIR Basic Feature Dual Sim Mobile Phone with ...,2.8,"1,219"
885,flipkart,886,IAIR Basic Feature Dual Sim Mobile Phone with ...,2.8,"1,219"

In [54]:
data7=data4.groupby('Product_Rating')
data7.get_group(4.7)

,E-Company,No,Product_Name,Product_Rating,Product_Price
900,flipkart,901,"APPLE iPhone 12 (Black, 64 GB)",4.7,"52,999"

In [55]:
data8=data4.groupby('Product_Rating')
data8.get_group(4.6)

,E-Company,No,Product_Name,Product_Rating,Product_Price
832,flipkart,833,"realme C21Y (Cross Black, 32 GB)",4.6,"9,499"
833,flipkart,834,"realme C21Y (Cross Blue, 32 GB)",4.6,"9,499"

In [56]:
data9=data4.groupby('Product_Rating')
data9.get_group(4.5)

,E-Company,No,Product_Name,Product_Rating,Product_Price
822,flipkart,823,"realme Narzo 50i (Mint Green, 32 GB)",4.5,"7,499"
823,flipkart,824,"realme Narzo 50i (Carbon Black, 32 GB)",4.5,"7,499"
827,flipkart,828,"realme 8i (Space Black, 64 GB)",4.5,"13,999"
828,flipkart,829,"realme C21Y (Cross Black, 64 GB)",4.5,"10,499"
829,flipkart,830,"realme C21Y (Cross Blue, 64 GB)",4.5,"10,499"
839,flipkart,840,"realme C25Y (Glacier Blue, 128 GB)",4.5,"11,999"
840,flipkart,841,"realme C25Y (Metal Grey, 128 GB)",4.5,"11,999"
841,flipkart,842,"OPPO A12 (Flowing Silver, 64 GB)",4.5,"9,240"
843,flipkart,844,"OPPO A12 (Blue, 64 GB)",4.5,"9,240"
854,flipkart,855,"APPLE iPhone SE (Red, 64 GB)",4.5,"27,999"
856,flipkart,857,"realme C25_Y (Metal Grey, 64 GB)",4.5,"10,999"
857,flipkart,858,"realme C25_Y (Metal Grey, 128 GB)",4.5,"11,999"
858,flipkart,859,"realme C25_Y (Glacier Blue, 64 GB)",4.5,"10,999"
862,flipkart,863,"realme C25_Y (Metal Grey, 64 GB)",4.5,"10,999"
863,flipkart,864,"realme C25_Y (Metal Grey, 128 GB)",4.5,"11,999"
871,flipkart,872,"APPLE iPhone 12 Mini (Black, 64 GB)",4.5,"41,999"
872,flipkart,873,"realme C25_Y (Glacier Blue, 64 GB)",4.5,"10,999"
874,flipkart,875,"realme C25_Y (Glacier Blue, 128 GB)",4.5,"11,999"
879,flipkart,880,"realme 8i (Space Purple, 64 GB)",4.5,"13,999"
908,flipkart,909,"vivo V23 5G (Stardust Black, 128 GB)",4.5,"29,990"
938,flipkart,939,"APPLE iPhone 12 Mini (White, 64 GB)",4.5,"41,999"
991,flipkart,992,"OPPO A53 (Moonlight Black, 64 GB)",4.5,"11,990"

In [57]:
data10=data4.groupby('Product_Rating')
data10.get_group(4.4)

,E-Company,No,Product_Name,Product_Rating,Product_Price
814,flipkart,815,"REDMI 9i Sport (Coral Green, 64 GB)",4.4,"8,799"
815,flipkart,816,"REDMI 9i Sport (Metallic Blue, 64 GB)",4.4,"8,799"
816,flipkart,817,"REDMI 9i Sport (Carbon Black, 64 GB)",4.4,"8,799"
817,flipkart,818,"realme Narzo 50A (Oxygen Blue, 64 GB)",4.4,"11,499"
818,flipkart,819,"realme Narzo 50A (Oxygen Green, 64 GB)",4.4,"11,499"
819,flipkart,820,"realme Narzo 50A (Oxygen Green, 128 GB)",4.4,"12,499"
820,flipkart,821,"realme Narzo 50A (Oxygen Blue, 128 GB)",4.4,"12,499"
821,flipkart,822,"POCO C31 (Shadow Gray, 64 GB)",4.4,"8,999"
824,flipkart,825,"realme C11 2021 (Cool Blue, 32 GB)",4.4,"7,499"
825,flipkart,826,"realme C11 2021 (Cool Grey, 32 GB)",4.4,"7,499"
830,flipkart,831,"POCO C31 (Shadow Gray, 32 GB)",4.4,"7,999"
831,flipkart,832,"realme 8i (Space Purple, 128 GB)",4.4,"15,999"
837,flipkart,838,"POCO C31 (Royal Blue, 32 GB)",4.4,"7,999"
842,flipkart,843,"OPPO A12 (Black, 32 GB)",4.4,"8,240"
845,flipkart,846,"realme 9i (Prism Blue, 64 GB)",4.4,"13,999"
847,flipkart,848,"OPPO A12 (Deep Blue, 32 GB)",4.4,"8,240"
848,flipkart,849,"OPPO A12 (Blue, 32 GB)",4.4,"8,240"
851,flipkart,852,"realme 8i (Space Black, 128 GB)",4.4,"15,999"
859,flipkart,860,"realme 9i (Prism Black, 64 GB)",4.4,"13,999"
860,flipkart,861,"OPPO A53s 5G (Crystal Blue, 128 GB)",4.4,"15,990"
864,flipkart,865,"realme 9i (Prism Black, 64 GB)",4.4,"13,999"
866,flipkart,867,"OPPO A53s 5G (Crystal Blue, 128 GB)",4.4,"15,990"
870,flipkart,871,"realme 8 (Cyber Black, 128 GB)",4.4,"16,999"
884,flipkart,885,"realme 8 (Cyber Black, 128 GB)",4.4,"17,999"
890,flipkart,891,"Infinix Hot 11 (Emerald Green, 64 GB)",4.4,"9,999"
891,flipkart,892,"Infinix Smart 5A (Ocean Wave, 32 GB)",4.4,"7,199"
892,flipkart,893,"Infinix Smart 5A (Midnight Black, 32 GB)",4.4,"7,199"
894,flipkart,895,"Infinix Smart 5A (Quetzal Cyan, 32 GB)",4.4,"7,199"
898,flipkart,899,"Infinix Hot 11 (Silver Wave, 64 GB)",4.4,"9,999"
907,flipkart,908,"vivo V23 5G (Stardust Black, 256 GB)",4.4,"34,990"
911,flipkart,912,"realme Narzo 30 (Racing Blue, 64 GB)",4.4,"13,499"
930,flipkart,931,"realme C21 (Cross Blue, 64 GB)",4.4,"10,499"
931,flipkart,932,"Infinix Note 11s (Haze Green, 64 GB)",4.4,"13,999"
935,flipkart,936,"realme 8s 5G (Universe Purple, 128 GB)",4.4,"19,999"
947,flipkart,948,"realme 8 5G (Supersonic Black, 128 GB)",4.4,"18,499"
954,flipkart,955,"realme C21 (Cross Blue, 32 GB)",4.4,"9,499"
955,flipkart,956,"POCO C31 (Royal Blue, 64 GB)",4.4,"8,999"
963,flipkart,964,"realme C21 (Cross Blue, 32 GB)",4.4,"9,499"
967,flipkart,968,"POCO C31 (Royal Blue, 64 GB)",4.4,"8,999"
973,flipkart,974,"Infinix Note 11s (Mithril Grey, 64 GB)",4.4,"13,999"
995,flipkart,996,"realme C25s (Watery Blue, 128 GB)",4.4,"11,999"
996,flipkart,997,"realme C25s (Watery Grey, 128 GB)",4.4,"11,999"
1017,flipkart,1018,"realme GT Master Edition (Cosmos Black, 128 GB)",4.4,"25,999"
1018,flipkart,1019,"realme GT NEO 2 (NEO Green, 128 GB)",4.4,"31,999"

In [58]:
data11=data4.groupby('Product_Rating')
data11.get_group(4.3)

,E-Company,No,Product_Name,Product_Rating,Product_Price
834,flipkart,835,"realme Narzo 50i (Carbon Black, 64 GB)",4.3,"8,999"
835,flipkart,836,"realme C11 2021 (Cool Blue, 64 GB)",4.3,"8,999"
836,flipkart,837,"realme C11 2021 (Cool Grey, 64 GB)",4.3,"8,999"
838,flipkart,839,"REDMI 9i (Sea Blue, 64 GB)",4.3,"8,999"
844,flipkart,845,"Infinix Smart HD 2021 (Topaz Blue, 32 GB)",4.3,"6,499"
846,flipkart,847,"MOTOROLA g31 (Baby Blue, 64 GB)",4.3,"12,999"
849,flipkart,850,"SAMSUNG Galaxy F22 (Denim Black, 64 GB)",4.3,"12,999"
852,flipkart,853,"REDMI 9i (Midnight Black, 64 GB)",4.3,"8,999"
861,flipkart,862,"Infinix Hot 10S (95° Black, 64 GB)",4.3,"9,999"
867,flipkart,868,"Infinix Hot 10S (95° Black, 64 GB)",4.3,"9,999"
868,flipkart,869,"Infinix Hot 10S (Heart Of Ocean, 64 GB)",4.3,"9,999"
875,flipkart,876,"SAMSUNG Galaxy F22 (Denim Blue, 64 GB)",4.3,"12,999"
876,flipkart,877,"OPPO A53s 5G (Ink Black, 128 GB)",4.3,"15,990"
878,flipkart,879,"OPPO A53s 5G (Crystal Blue, 128 GB)",4.3,"15,990"
883,flipkart,884,"Infinix Hot 10S (Morandi Green, 64 GB)",4.3,"9,999"
886,flipkart,887,"Infinix Hot 10S (Morandi Green, 64 GB)",4.3,"10,999"
888,flipkart,889,"Infinix Hot 11S (7° Purple, 64 GB)",4.3,"10,499"
895,flipkart,896,"Infinix Hot 11S (Polar Black, 64 GB)",4.3,"10,499"
899,flipkart,900,"Infinix Smart 5 (Morandi Green, 32 GB)",4.3,"7,499"
902,flipkart,903,"Infinix Smart 5 (7 Purple, 32 GB)",4.3,"7,499"
904,flipkart,905,"Infinix Smart 5 (Aegean Blue, 32 GB)",4.3,"7,499"
906,flipkart,907,"Infinix Smart 5 (Obsidian Black, 32 GB)",4.3,"7,499"
910,flipkart,911,"realme Narzo 30 (Racing Silver, 64 GB)",4.3,"14,499"
912,flipkart,913,"POCO M3 Pro 5G (Power Black, 64 GB)",4.3,"13,999"
914,flipkart,915,"realme 8 (Cyber Black, 128 GB)",4.3,"15,999"
918,flipkart,919,"MOTOROLA G40 Fusion (Dynamic Gray, 64 GB)",4.3,"14,499"
919,flipkart,920,"Infinix Hot 11S (Polar Black, 128 GB)",4.3,"11,499"
920,flipkart,921,"OPPO A33 (Mint Cream, 32 GB)",4.3,"10,490"
922,flipkart,923,"Xiaomi 11i 5G (Purple Mist, 128 GB)",4.3,"24,999"
927,flipkart,928,"realme Narzo 30 (Racing Silver, 128 GB)",4.3,"15,499"
928,flipkart,929,"realme Narzo 30 (Racing Blue, 128 GB)",4.3,"15,499"
934,flipkart,935,"vivo Y12G (Phantom Black, 32 GB)",4.3,"10,990"
939,flipkart,940,"Xiaomi 11i 5G (Stealth Black, 128 GB)",4.3,"24,999"
942,flipkart,943,"vivo Y20T (Purist Blue, 64 GB)",4.3,"15,490"
943,flipkart,944,"vivo Y20T (Obsidian Black, 64 GB)",4.3,"15,490"
959,flipkart,960,"Xiaomi 11i 5G (Stealth Black, 128 GB)",4.3,"24,999"
964,flipkart,965,"realme GT Master Edition (Cosmos Black, 128 GB)",4.3,"27,999"
970,flipkart,971,"vivo Y12G (Glacier Blue, 32 GB)",4.3,"10,990"
972,flipkart,973,"Xiaomi 11i 5G (Pacific Pearl, 128 GB)",4.3,"24,999"
974,flipkart,975,"POCO M3 Pro 5G (Cool Blue, 64 GB)",4.3,"13,999"
975,flipkart,976,"realme 8 5G (Supersonic Black, 128 GB)",4.3,"16,499"
976,flipkart,977,"realme 8 5G (Supersonic Blue, 128 GB)",4.3,"16,499"
978,flipkart,979,"realme GT Master Edition (Luna White, 256 GB)",4.3,"29,999"
987,flipkart,988,"vivo Y20G 2021 (Obsidian Black, 64 GB)",4.3,"13,990"
988,flipkart,989,"Tecno POVA 2 (Polar Silver, 64 GB)",4.3,"11,900"
994,flipkart,995,"vivo Y12G (Phantom Black, 64 GB)",4.3,"11,990"
998,flipkart,999,"vivo Y21 (Midnight Blue, 128 GB)",4.3,"16,499"
1000,flipkart,1001,Infinix Note 11s Free Fire Edition (Haze Green...,4.3,"15,999"
1006,flipkart,1007,"vivo Y21 (Diamond Glow, 64 GB)",4.3,"13,990"
1008,flipkart,1009,"OPPO F17 Pro (Matte Black, 128 GB)",4.3,"17,990"
1021,flipkart,1022,"OPPO A16 (Pearl Blue, 64 GB)",4.3,"13,490"
1024,flipkart,1025,"realme Narzo 30 Pro 5G (Blade Silver, 128 GB)",4.3,"19,999"
1036,flipkart,1037,"Xiaomi 11i 5G (Camo Green, 128 GB)",4.3,"26,999"
1039,flipkart,1040,Infinix Note 11s Free Fire Edition (Mithril Gr...,4.3,"15,999"
1040,flipkart,1041,"REDMI NOTE 10 LITE (Glacier White, 128 GB)",4.3,"14,599"
1044,flipkart,1045,"Infinix Note 11 (Graphite Black, 64 GB)",4.3,"12,499"
1045,flipkart,1046,Motorola a50,4.3,"1,549"
1047,flipkart,1048,"vivo Y33s (Mirror Black, 128 GB)",4.3,"18,990"
1052,flipkart,1053,"REDMI Note 10 Lite (Interstellar Black, 128 GB)",4.3,"15,174"
1053,flipkart,1054,"OPPO A31 (Mystery Black, 64 GB)",4.3,"12,988"

In [60]:
data12=data4.groupby('Product_Rating')
data12.get_group(4.2)

,E-Company,No,Product_Name,Product_Rating,Product_Price
0,amazon,1,"OPPO A31 (Mystery Black, 6GB RAM, 128GB Storag...",4.2,"2,690.00"
1,amazon,2,"Redmi 9 Activ (Coral Green, 4GB RAM, 64GB Stor...",4.2,"6,999.00"
2,amazon,3,Redmi 9A (Midnight Black 2GB RAM 32GB Storage)...,4.2,"12,990"
3,amazon,4,"Redmi 9A (Nature Green, 3GB Ram, 32GB Storage)...",4.2,"9,499"
4,amazon,5,"OPPO A74 5G (Fluid Black,6GB RAM,128GB Storage...",4.2,"7,499"
...,...,...,...,...,...
1020,flipkart,1021,SAMSUNG Guru Music 2 SM-B315E,4.2,"2,170"
1032,flipkart,1033,LAVA A9,4.2,"1,599"
1041,flipkart,1042,"REDMI 10 Prime (Phantom Black, 128 GB)",4.2,"16,490"
1043,flipkart,1044,"vivo Y72 5G (Prism Magic, 128 GB)",4.2,"20,849"
1049,flipkart,1050,"MOTOROLA e40 (Carbon Gray, 64 GB)",4.2,"9,999"

In [63]:
data12.head(10)

,E-Company,No,Product_Name,Product_Rating,Product_Price
0,amazon,1,"OPPO A31 (Mystery Black, 6GB RAM, 128GB Storag...",4.2,"2,690.00"
1,amazon,2,"Redmi 9 Activ (Coral Green, 4GB RAM, 64GB Stor...",4.2,"6,999.00"
2,amazon,3,Redmi 9A (Midnight Black 2GB RAM 32GB Storage)...,4.2,"12,990"
3,amazon,4,"Redmi 9A (Nature Green, 3GB Ram, 32GB Storage)...",4.2,"9,499"
4,amazon,5,"OPPO A74 5G (Fluid Black,6GB RAM,128GB Storage...",4.2,"7,499"
...,...,...,...,...,...
1016,flipkart,1017,Itel Ace Young Without Charger,3.9,799
1025,flipkart,1026,BlackZone HAMMER,3.5,829
1030,flipkart,1031,BlackZone HAMMER,3.5,829
1042,flipkart,1043,Itel Ace Young Without Charger,3.9,799
1051,flipkart,1052,Micromax X389,3.9,985